* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #8F6666;
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #000000;
  margin: 0 90px;
}

nav h1 {
  color: #000000;
  font-size: 56px;
  gap: 20px;
  font-weight: bolder;
  padding: 0 30px;
}

.shopping-cart-icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.pagina-inteira {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
  min-height: 80vh;
  gap: 300px;
  padding: 0 40px;
  margin: 0 90px;
}

.product-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.product-content img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.product-content h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #000000;
}

.preco {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  color: #000000;
  display: block;
}

.box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
  background-color: #000000 !important;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  gap: 40px;
  
}

.box-imagem {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.inactive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.active {
  opacity: 1;
  z-index: 1;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #C21414;
  color: #ffffff;
  font-size: 30px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bolder;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}
